/*
 * -------------------------------------------------------------------------
 * MultiChat: Combines multiple twitch chats into one for easy 
 * readability for streamers
 *  
 * By ActualKuma
 * -------------------------------------------------------------------------
 */
* {
    font-family:"Roboto", sans-serif;
}
body {
    background: #121212;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#chat:hover + #credits {
    display: block;
}

#frm1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#credits:hover {
    display: block;
}

ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

li {
    list-style-type: none;
    padding-bottom:5px;
    padding-left: 0px;
}

div {
    display: inline-block;
    color: #ffffff;
}

#chat {
    float:left;
    width: 100%;
}

#scrollable {
    height: 94%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    z-index: 0;
    overflow-y: scroll; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.displayinline {
    width:100%;
    text-align: left;
}

.inline {
    display: inline-block;
}

#streams {
    width:600px;
}

#ignore {
    width:600px;
}

#streambadge {
    width:20px;
    height:20px;
    padding-right: 5px;
    padding-bottom: 2px;
    vertical-align: text-bottom;
}

#badge {
    width:15px;
    height:15px;
    padding-right: 5px;
}

#emote {
    width:auto;
    height:20px;
    vertical-align: middle;
}

#credits {
    display: none;
    vertical-align: top;
    float: right;
    text-align: right;
    position: relative;
    z-index: 20;
    padding-bottom: 5px;
}

a.kuma {
    text-decoration: none;
}

a:link.kuma {
    color: #ffffff;
}

a:visited.kuma {
    color: #ffffff;
}

a:visited.kuma {
    color: #ffffff;
}

a:hover.kuma {
    color: #808080;
}

a:active.kuma {
    color: #f1d634;
}