/*
 * -------------------------------------------------------------------------
 * MultiChat: Combines multiple twitch chats into one for easy 
 * readability for streamers
 *  
 * By ActualKuma
 * -------------------------------------------------------------------------
 */
* {
    font-family:"Roboto", sans-serif;
}
body {
    background: #121212;
}

ul {
    list-style: none;
    padding:0px;
}

li {
    list-style-type: none;
    padding-bottom:5px;
    padding-left: 0px;
}

div {
    display: inline-block;
    color: #ffffff;
}

#chat {
    float:left;
    width: 100%;
}

#scrollable {
    height: 94%;
    overflow: auto;
}

.displayinline {
    width:100%;
    text-align: left;
}

.inline {
    display: inline-block;
}

#streams {
    width:600px;
}

#streambadge {
    width:20px;
    height:20px;
    padding-right: 5px;
    padding-bottom: 2px;
    vertical-align: text-bottom;
}

#badge {
    width:15px;
    height:15px;
    padding-right: 5px;
}

#emote {
    width:20px;
    height:20px;
    vertical-align: middle;
}

#credits {
    vertical-align: top;
    float: right;
    text-align: right;
    padding-bottom: 5px;
}

a.kuma {
    text-decoration: none;
}

a:link.kuma {
    color: #ffffff;
}

a:visited.kuma {
    color: #ffffff;
}

a:visited.kuma {
    color: #ffffff;
}

a:hover.kuma {
    color: #808080;
}

a:active.kuma {
    color: #f1d634;
}