* {
    font-family:"Roboto", sans-serif;
}
body {
    background: #121212;
}
li {
    list-style-type: none;
}

div {
    white-space: nowrap;
    display: inline-block;
    color: ffffff;
}

#chat {
    float:left;
    width: 100%;
}

#scrollable {
    height: 100%;
    overflow: auto;
}

.displayinline {
    width:100%;
    text-align: left;
}

.inline {
    display: inline-block;
}

#streams {
    width:600px;
}