* {
    font-family:"Roboto", sans-serif;
}
body {
    background: #121212;
}
li {
    list-style-type: none;
    padding-bottom:5px;
}

div {
    display: inline-block;
    color: ffffff;
}

#chat {
    float:left;
    width: 100%;
}

#scrollable {
    height: 97%;
    overflow: auto;
}

.displayinline {
    width:100%;
    text-align: left;
}

.inline {
    display: inline-block;
}

#streams {
    width:600px;
}

#streambadge {
    width:20px;
    height:20px;
    padding-right: 5px;
    padding-bottom: 2px;
    vertical-align: text-bottom;
}

#badge {
    width:15px;
    height:15px;
    padding-right: 5px;
}

#emote {
    width:20px;
    height:20px;
    vertical-align: middle;
}